* {
   font-family: arial, sans-serif;
   font-size: 15px;
   text-decoration: none;
   color: black;
}
nav img {
   height: 23px;
   width: 23px;
   margin-top: 0px;
}
nav ul {
   list-style-type: none;
   float: right;
   text-align: right;
   padding: 5px;
   margin: 10px;
}
li {
   float: left;
   display: block;
   margin-right: 15px;
   margin-bottom: 3px;
}
li a:hover {
   text-decoration: underline;
}
.logo {
   text-align: center;
   padding-top: 150px;
}
.logo img {
   width: 272px;
   margin-bottom: 25px;
}
.submit {
   width: 500px;
   margin: 0 auto;
}
.submit input {
   height: auto;
   width: 100%;
   margin-bottom: 25px;
   padding: 12px;
   text-align: left;
   border: 1px solid silver;
   box-sizing: border-box;
   box-shadow: 1px 2px 2px silver;
}
.search, .lucky {
   height: 40px;
   width: 150px;
   color: gray;
   border: none;
   background-color: #e5e5e5;
   border-radius: 2px;
   font-weight: bold;
}
.search {
   margin: 20px 10px 20px 80px;
}
.lucky {
   margin: 20px 80px 20px 10px;
}
.search:hover, .lucky:hover {
   border: 2px solid grey;
   box-shadow: 0 1px 1px rgba(0,0,0,0.1);
   color: black;
}
footer {
   position: fixed;
   bottom: 0;
   border-top: 1px solid #e4e4e4;
   width: 100%;
   background-color: #f2f2f2;
   height: 50px;
}
footer ul {
   list-style-type: none;
   padding: 5px;
}
footer a {
   font-size: 14px;
   color: grey;
}
.footer-left {
   float: left;
   margin-left: 15px;
}
.footer-right {
   float: right;
   margin-right: 15px;
}
